.App {
  display: 'flex';
  height: 100vh;
}


.drawer: {
  width: drawerWidth;
  flexShrink: 0;
}
.drawerPaper {
  width: drawerWidth;
}
.drawerHeader {
  display: 'flex';
  align-items: 'center';
  justify-content: 'flex-start';
}


.content {
  flex-grow: 1;
  height: '100%';
  overflow: 'auto';
  margin: '10px';
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

